In [1]:
import pandas as pd
import numpy as np

In [196]:
df = pd.read_csv("diabetic_data.csv")

In [221]:
df.head()

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,A1Cresult,metformin,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
23879,7239654,Caucasian,Female,[70-80),1,3,6,12,UN,InternalMedicine,...,>8,No,No,No,No,No,Steady,No,Yes,NO
24069,14244093,Caucasian,Female,[30-40),1,1,6,13,MC,Nephrology,...,>8,No,No,No,No,No,Steady,No,Yes,NO
24117,537543,Caucasian,Female,[30-40),2,1,4,11,MC,Nephrology,...,>8,No,No,No,Steady,No,Steady,Ch,Yes,NO
24177,354474,Caucasian,Male,[70-80),2,3,1,12,MC,InternalMedicine,...,>7,No,Down,No,No,No,No,Ch,Yes,NO
24228,1186533,AfricanAmerican,Female,[30-40),1,1,6,6,HM,InternalMedicine,...,Norm,No,No,No,No,No,No,No,No,NO

In [198]:
df.shape

(101766, 50)

In [199]:
del df['encounter_id']

In [201]:
df.shape

(101766, 49)

In [202]:
# count all missing values in each column
df.isna().sum()

patient_nbr                     0
race                            0
gender                          0
age                             0
weight                          0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [203]:
# replace all '?' with NAN
df = df.replace("?", np.nan)

In [204]:
# replace categorical data '<30' with 1 and '>30'/NO => 0
def replace_readmitted_data(value):
    return 1 if value == "<30" else 0

In [205]:
readmitted = df["readmitted"].map(replace_readmitted_data)

In [206]:
# function to calculate % of missing columns

def calculate_percentage(num_missing, size):
    return (num_missing/size) * 100
    
def calculate_percentage_missing(frame):
    for column in frame.columns:
        percentage_missing = (frame[column].isna().sum() / len(frame)) * 100
        if  percentage_missing > 90:
            frame.drop(column, axis=1, inplace=True)
    return frame

In [207]:
df = calculate_percentage_missing(df)

In [208]:
df.shape

(101766, 47)

In [209]:
# dropping null rows
df = df.dropna()

In [210]:
# drop near zero-variance columns
cols_to_drop = ['repaglinide',
'nateglinide','chlorpropamide','glimepiride','acetohexamide','tolbutamide','acarbose','miglitol','troglitazone','tolazamide','examide','citoglipton','glyburide-metformin',
'glipizide-metformin','glimepiride-pioglitazone','metformin-rosiglitazone','metformin-pioglitazone']

In [211]:
df.drop(columns=cols_to_drop,axis=1,inplace=True)

In [212]:
df

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,A1Cresult,metformin,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
23879,7239654,Caucasian,Female,[70-80),1,3,6,12,UN,InternalMedicine,...,>8,No,No,No,No,No,Steady,No,Yes,NO
24069,14244093,Caucasian,Female,[30-40),1,1,6,13,MC,Nephrology,...,>8,No,No,No,No,No,Steady,No,Yes,NO
24117,537543,Caucasian,Female,[30-40),2,1,4,11,MC,Nephrology,...,>8,No,No,No,Steady,No,Steady,Ch,Yes,NO
24177,354474,Caucasian,Male,[70-80),2,3,1,12,MC,InternalMedicine,...,>7,No,Down,No,No,No,No,Ch,Yes,NO
24228,1186533,AfricanAmerican,Female,[30-40),1,1,6,6,HM,InternalMedicine,...,Norm,No,No,No,No,No,No,No,No,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101695,35047287,Caucasian,Male,[60-70),2,2,7,4,CM,Emergency/Trauma,...,>8,No,No,No,No,No,Up,Ch,Yes,<30
101720,180189752,Caucasian,Male,[50-60),2,1,7,5,BC,Family/GeneralPractice,...,>7,No,No,No,Steady,No,Down,Ch,Yes,>30
101735,106595208,Caucasian,Male,[70-80),2,6,7,6,MC,Emergency/Trauma,...,Norm,No,No,No,No,No,Up,Ch,Yes,NO
101747,33230016,Caucasian,Female,[70-80),1,22,7,8,MC,InternalMedicine,...,>7,No,No,No,No,No,Steady,No,Yes,>30
101749,106392411,Caucasian,Female,[70-80),3,6,1,3,MC,Orthopedics,...,Norm,Steady,Steady,No,No,No,Steady,Ch,Yes,NO

In [213]:
df.describe()

,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,4.166000e+03,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000
mean,6.124034e+07,1.833413,2.697312,5.148104,4.944311,53.853577,1.292847,16.390302,0.195151,0.279885,0.456553,7.325012
std,3.936169e+07,0.753764,4.024514,2.673494,3.107173,16.695628,1.704082,8.635939,0.813798,1.128657,1.109993,1.923753
min,7.290000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000
25%,2.480188e+07,1.000000,1.000000,1.000000,3.000000,44.000000,0.000000,10.000000,0.000000,0.000000,0.000000,5.000000
50%,5.984079e+07,2.000000,1.000000,7.000000,4.000000,54.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,9.483692e+07,2.000000,3.000000,7.000000,7.000000,65.000000,2.000000,21.000000,0.000000,0.000000,0.000000,9.000000
max,1.886349e+08,6.000000,28.000000,22.000000,14.000000,132.000000,6.000000,75.000000,13.000000,20.000000,12.000000,16.000000

In [214]:
# select only numerical columns
selected_numerical_columns = df.select_dtypes(include='number')

In [215]:
selected_numerical_columns

,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
23879,7239654,1,3,6,12,77,5,19,0,0,0,5
24069,14244093,1,1,6,13,75,2,16,0,0,0,5
24117,537543,2,1,4,11,43,5,16,0,0,0,5
24177,354474,2,3,1,12,68,1,20,0,0,0,5
24228,1186533,1,1,6,6,50,2,9,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
101695,35047287,2,2,7,4,64,4,23,0,0,0,9
101720,180189752,2,1,7,5,71,5,23,0,0,0,9
101735,106595208,2,6,7,6,46,5,14,0,0,1,9
101747,33230016,1,22,7,8,51,6,19,0,0,0,9
101749,106392411,3,6,1,3,27,1,29,0,1,0,9

In [216]:
# finding and removing outliers

def find_remove_outliers(frame):
    # loop through all columns
    # get the 1st and 3rd QTR
    # calculate the interquartile range
    df_filtered = None
    for column in frame.columns:
    
        Q1 = frame[column].quantile(0.25)
        Q3 = frame[column].quantile(0.75)
        IQR = Q3 - Q1
        
        # Defining bounds for the outliers
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Filtering the DataFrame to remove outliers
        df_filtered = frame[(frame[column] >= lower_bound) & (frame[column] <= upper_bound)]
    return df_filtered

In [217]:
outliers_removed = find_remove_outliers(selected_numerical_columns)

In [218]:
outliers_removed

,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
23879,7239654,1,3,6,12,77,5,19,0,0,0,5
24069,14244093,1,1,6,13,75,2,16,0,0,0,5
24117,537543,2,1,4,11,43,5,16,0,0,0,5
24177,354474,2,3,1,12,68,1,20,0,0,0,5
24228,1186533,1,1,6,6,50,2,9,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
101695,35047287,2,2,7,4,64,4,23,0,0,0,9
101720,180189752,2,1,7,5,71,5,23,0,0,0,9
101735,106595208,2,6,7,6,46,5,14,0,0,1,9
101747,33230016,1,22,7,8,51,6,19,0,0,0,9
101749,106392411,3,6,1,3,27,1,29,0,1,0,9

In [219]:
# z score normalization

# This gives some wrong answers because I messed up something up there. 

df_standardized = (outliers_removed - outliers_removed.mean()) / outliers_removed.std()

In [220]:
df_standardized

,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
23879,-1.371659,-1.105482,0.075103,0.318327,2.270454,1.386598,2.175162,0.302261,-0.239565,-0.248012,-0.411369,-1.210313
24069,-1.193715,-1.105482,-0.421803,0.318327,2.592255,1.266807,0.414773,-0.045090,-0.239565,-0.248012,-0.411369,-1.210313
24117,-1.541923,0.221415,-0.421803,-0.429885,1.948653,-0.649848,2.175162,-0.045090,-0.239565,-0.248012,-0.411369,-1.210313
24177,-1.546574,0.221415,0.075103,-1.552202,2.270454,0.847539,-0.172024,0.418044,-0.239565,-0.248012,-0.411369,-1.210313
24228,-1.525436,-1.105482,-0.421803,0.318327,0.339649,-0.230580,0.414773,-0.855576,-0.239565,-0.248012,-0.411369,-1.210313
...,...,...,...,...,...,...,...,...,...,...,...,...
101695,-0.665220,0.221415,-0.173350,0.692432,-0.303953,0.607957,1.588365,0.765396,-0.239565,-0.248012,-0.411369,0.873802
101720,3.022053,0.221415,-0.421803,0.692432,0.017848,1.027225,2.175162,0.765396,-0.239565,-0.248012,-0.411369,0.873802
101735,1.152420,0.221415,0.820461,0.692432,0.339649,-0.470161,2.175162,-0.276658,-0.239565,-0.248012,0.489447,0.873802
101747,-0.711387,-1.105482,4.795703,0.692432,0.983251,-0.170684,2.761958,0.302261,-0.239565,-0.248012,-0.411369,0.873802
101749,1.147268,1.548312,0.820461,-1.552202,-0.625754,-1.608175,-0.172024,1.460098,-0.239565,0.637897,-0.411369,0.873802