In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("diabetic_data.csv")

In [3]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
df = df.drop(columns=['encounter_id'])

In [5]:
df.shape

(101766, 49)

In [6]:
df = df.replace("?", np.nan)

In [7]:
df

,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,100162476,AfricanAmerican,Male,[70-80),NaN,1,3,7,3,MC,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,74694222,AfricanAmerican,Female,[80-90),NaN,1,4,5,5,MC,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,41088789,Caucasian,Male,[70-80),NaN,1,1,7,1,MC,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,31693671,Caucasian,Female,[80-90),NaN,2,3,7,10,MC,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,175429310,Caucasian,Male,[70-80),NaN,1,1,7,6,NaN,...,No,No,No,No,No,No,No,No,No,NO

In [8]:
def change_values(x):
    if x == "<30":
        return 1
    return 0 


df.loc[:, "readmitted"] = df.readmitted.apply(change_values)

In [9]:
df["readmitted"]

0         0
1         0
2         0
3         0
4         0
         ..
101761    0
101762    0
101763    0
101764    0
101765    0
Name: readmitted, Length: 101766, dtype: object

In [10]:
df

,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,0
1,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,0
2,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,0
3,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,0
4,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,100162476,AfricanAmerican,Male,[70-80),NaN,1,3,7,3,MC,...,No,Down,No,No,No,No,No,Ch,Yes,0
101762,74694222,AfricanAmerican,Female,[80-90),NaN,1,4,5,5,MC,...,No,Steady,No,No,No,No,No,No,Yes,0
101763,41088789,Caucasian,Male,[70-80),NaN,1,1,7,1,MC,...,No,Down,No,No,No,No,No,Ch,Yes,0
101764,31693671,Caucasian,Female,[80-90),NaN,2,3,7,10,MC,...,No,Up,No,No,No,No,No,Ch,Yes,0
101765,175429310,Caucasian,Male,[70-80),NaN,1,1,7,6,NaN,...,No,No,No,No,No,No,No,No,No,0

In [11]:
for column in df.columns:
    percentage_missing = (df[column].isna().sum() / len(df)) * 100
    if  percentage_missing > 90:
        df.drop(column, axis=1, inplace=True)

In [12]:
df.columns

Index(['patient_nbr', 'race', 'gender', 'age', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'payer_code', 'medical_specialty', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'A1Cresult', 'metformin', 'repaglinide',
       'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide',
       'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone',
       'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide',
       'examide', 'citoglipton', 'insulin', 'glyburide-metformin',
       'glipizide-metformin', 'glimepiride-pioglitazone',
       'metformin-rosiglitazone', 'metformin-pioglitazone', 'change',
       'diabetesMed', 'readmitted'],
      dtype='object')

In [13]:
df.shape

(101766, 47)

In [14]:
df

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,0
1,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,0
2,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,NaN,...,No,No,No,No,No,No,No,No,Yes,0
3,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,0
4,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,MC,NaN,...,No,Down,No,No,No,No,No,Ch,Yes,0
101762,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,MC,NaN,...,No,Steady,No,No,No,No,No,No,Yes,0
101763,41088789,Caucasian,Male,[70-80),1,1,7,1,MC,NaN,...,No,Down,No,No,No,No,No,Ch,Yes,0
101764,31693671,Caucasian,Female,[80-90),2,3,7,10,MC,Surgery-General,...,No,Up,No,No,No,No,No,Ch,Yes,0
101765,175429310,Caucasian,Male,[70-80),1,1,7,6,NaN,NaN,...,No,No,No,No,No,No,No,No,No,0

In [15]:
# drop near zero-variance columns
cols_to_drop = ['repaglinide',
'nateglinide','chlorpropamide','glimepiride','acetohexamide','tolbutamide','acarbose','miglitol','troglitazone','tolazamide','examide','citoglipton','glyburide-metformin',
'glipizide-metformin','glimepiride-pioglitazone','metformin-rosiglitazone','metformin-pioglitazone']

df.drop(columns=cols_to_drop,axis=1,inplace=True)

In [16]:
df

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,A1Cresult,metformin,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
0,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,Pediatrics-Endocrinology,...,NaN,No,No,No,No,No,No,No,No,0
1,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,NaN,...,NaN,No,No,No,No,No,Up,Ch,Yes,0
2,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,NaN,...,NaN,No,Steady,No,No,No,No,No,Yes,0
3,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,NaN,...,NaN,No,No,No,No,No,Up,Ch,Yes,0
4,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,NaN,...,NaN,No,Steady,No,No,No,Steady,Ch,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,MC,NaN,...,>8,Steady,No,No,No,No,Down,Ch,Yes,0
101762,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,MC,NaN,...,NaN,No,No,No,No,No,Steady,No,Yes,0
101763,41088789,Caucasian,Male,[70-80),1,1,7,1,MC,NaN,...,NaN,Steady,No,No,No,No,Down,Ch,Yes,0
101764,31693671,Caucasian,Female,[80-90),2,3,7,10,MC,Surgery-General,...,NaN,No,Steady,No,Steady,No,Up,Ch,Yes,0
101765,175429310,Caucasian,Male,[70-80),1,1,7,6,NaN,NaN,...,NaN,No,No,No,No,No,No,No,No,0

In [17]:
df = df.dropna()

In [18]:
df

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,A1Cresult,metformin,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
23879,7239654,Caucasian,Female,[70-80),1,3,6,12,UN,InternalMedicine,...,>8,No,No,No,No,No,Steady,No,Yes,0
24069,14244093,Caucasian,Female,[30-40),1,1,6,13,MC,Nephrology,...,>8,No,No,No,No,No,Steady,No,Yes,0
24117,537543,Caucasian,Female,[30-40),2,1,4,11,MC,Nephrology,...,>8,No,No,No,Steady,No,Steady,Ch,Yes,0
24177,354474,Caucasian,Male,[70-80),2,3,1,12,MC,InternalMedicine,...,>7,No,Down,No,No,No,No,Ch,Yes,0
24228,1186533,AfricanAmerican,Female,[30-40),1,1,6,6,HM,InternalMedicine,...,Norm,No,No,No,No,No,No,No,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101695,35047287,Caucasian,Male,[60-70),2,2,7,4,CM,Emergency/Trauma,...,>8,No,No,No,No,No,Up,Ch,Yes,1
101720,180189752,Caucasian,Male,[50-60),2,1,7,5,BC,Family/GeneralPractice,...,>7,No,No,No,Steady,No,Down,Ch,Yes,0
101735,106595208,Caucasian,Male,[70-80),2,6,7,6,MC,Emergency/Trauma,...,Norm,No,No,No,No,No,Up,Ch,Yes,0
101747,33230016,Caucasian,Female,[70-80),1,22,7,8,MC,InternalMedicine,...,>7,No,No,No,No,No,Steady,No,Yes,0
101749,106392411,Caucasian,Female,[70-80),3,6,1,3,MC,Orthopedics,...,Norm,Steady,Steady,No,No,No,Steady,Ch,Yes,0

In [19]:
numeric_variables = df.select_dtypes(include=[np.number])

In [20]:
numeric_variables.describe()

,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,4.166000e+03,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000,4166.000000
mean,6.124034e+07,1.833413,2.697312,5.148104,4.944311,53.853577,1.292847,16.390302,0.195151,0.279885,0.456553,7.325012
std,3.936169e+07,0.753764,4.024514,2.673494,3.107173,16.695628,1.704082,8.635939,0.813798,1.128657,1.109993,1.923753
min,7.290000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000
25%,2.480188e+07,1.000000,1.000000,1.000000,3.000000,44.000000,0.000000,10.000000,0.000000,0.000000,0.000000,5.000000
50%,5.984079e+07,2.000000,1.000000,7.000000,4.000000,54.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,9.483692e+07,2.000000,3.000000,7.000000,7.000000,65.000000,2.000000,21.000000,0.000000,0.000000,0.000000,9.000000
max,1.886349e+08,6.000000,28.000000,22.000000,14.000000,132.000000,6.000000,75.000000,13.000000,20.000000,12.000000,16.000000

In [21]:
df

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,A1Cresult,metformin,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
23879,7239654,Caucasian,Female,[70-80),1,3,6,12,UN,InternalMedicine,...,>8,No,No,No,No,No,Steady,No,Yes,0
24069,14244093,Caucasian,Female,[30-40),1,1,6,13,MC,Nephrology,...,>8,No,No,No,No,No,Steady,No,Yes,0
24117,537543,Caucasian,Female,[30-40),2,1,4,11,MC,Nephrology,...,>8,No,No,No,Steady,No,Steady,Ch,Yes,0
24177,354474,Caucasian,Male,[70-80),2,3,1,12,MC,InternalMedicine,...,>7,No,Down,No,No,No,No,Ch,Yes,0
24228,1186533,AfricanAmerican,Female,[30-40),1,1,6,6,HM,InternalMedicine,...,Norm,No,No,No,No,No,No,No,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101695,35047287,Caucasian,Male,[60-70),2,2,7,4,CM,Emergency/Trauma,...,>8,No,No,No,No,No,Up,Ch,Yes,1
101720,180189752,Caucasian,Male,[50-60),2,1,7,5,BC,Family/GeneralPractice,...,>7,No,No,No,Steady,No,Down,Ch,Yes,0
101735,106595208,Caucasian,Male,[70-80),2,6,7,6,MC,Emergency/Trauma,...,Norm,No,No,No,No,No,Up,Ch,Yes,0
101747,33230016,Caucasian,Female,[70-80),1,22,7,8,MC,InternalMedicine,...,>7,No,No,No,No,No,Steady,No,Yes,0
101749,106392411,Caucasian,Female,[70-80),3,6,1,3,MC,Orthopedics,...,Norm,Steady,Steady,No,No,No,Steady,Ch,Yes,0

In [22]:
df.readmitted

23879     0
24069     0
24117     0
24177     0
24228     0
         ..
101695    1
101720    0
101735    0
101747    0
101749    0
Name: readmitted, Length: 4166, dtype: object

In [23]:
np.zeros(1)

array([0.])